/* hovering over navigation elements on the side bar */
.home_nav a:hover {
	text-decoration: underline;
}

/* side bar */
.side_nav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #049d7f;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: inset 0 0 10px;
}

/* headshot on main page */
.side_nav img {
	border: 5px solid #e9e2c9;
	border-radius: 50%;
	padding: 10px;
	width: 200px;
	box-shadow: 0 0 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* side bar links */
.side_nav a {
	padding: 10px 10px 20px 16px;
	text-decoration: none;
	text-align: center;
	/* text-shadow: 0 0 2px black; */
	font-size: 25px;
	color: #e9e2c9;
	display: block;
}

.home_main {
	margin-left: 290px;
	height: 100%;
	padding: 0px 10px;
	font-size: 25px;
	text-align: center;
}

body {
	background-color: #262d37;
}

.main_header {
	background-color: #262d37;
	height: 250px;
	position: sticky;
}

.projects h1 {
	color: #e9e2c9;
}

.volunteering h1 {
	color: #e9e2c9;
}
