/* Side Navigation */

/* hovering over navigation elements on the side bar */
.home_nav a:hover {
	text-decoration: underline;
	color: #e63946;
}

.side_nav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #a8dadc;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: inset 0 0 10px;
}

/* headshot on main page */
.side_nav img {
	border: 5px solid #e63946;
	border-radius: 50%;
	padding: 10px;
	width: 200px;
	box-shadow: 0 0 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* side bar links */
.side_nav a {
	padding: 10px 10px 20px 16px;
	text-decoration: none;
	text-align: center;
	/* text-shadow: 0 0 2px black; */
	font-size: 25px;
	color: #1d3557;
	display: block;
}

/* Main Content */
.header {
	margin-left: 290px;
	height: 100%;
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
}

.home_main {
	margin-left: 290px;
	height: 100%;
	padding: 30px 10px;
	font-size: 25px;
	text-align: center;
}

.footer {
	margin-left: 290px;
	height: 100%;
	padding: 0px 10px;
	font-size: 20px;
	text-align: center;
}

body {
	background-color: #f1faee;
}

.header {
	background-color: #262d37;
	height: 250px;
	color: #a8dadc;
}

#title {
	color: #a8dadc;
}

h1,
h2,
h3,
p {
	color: #1d3557;
}

.about_me p {
	width: 400px;
}

.about_me img {
	width: 100%;
	height: 100%;
}
