/* Side Navigation */
a:-webkit-any-link {
	text-decoration: none;
	color: #1d3557;
}

.home_nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 3px 10px 3px;
}

#nav_btn {
	border-radius: 4px;
	background-color: #1d3557;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border-radius: 10px;
}

#nav_btn #button_link {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: whitesmoke;
	font-size: 25px;
	text-decoration: none;
}

#nav_btn #button_link:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: all 0.5s;
}

#nav_btn:hover a {
	padding-right: 25px;
	color: whitesmoke;
}

#button_link::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: whitesmoke;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

#nav_btn:hover #button_link::before {
	transform: scaleX(1);
}

#nav_btn:hover #button_link:after {
	opacity: 1;
	right: 0;
}

body p {
	font-family: "Nunito", sans-serif;
	font-weight: 100;
}

body h1,
h2,
h3 {
	font-family: "Nunito", sans-serif;
	font-weight: 600 semi-bold;
}

h1,
h2,
h3,
h4,
p {
	color: #1d3557;
}

.side_nav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #a8dadc;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: inset 0 0 10px;
}

#headshot {
	border: 5px solid #e63946;
	border-radius: 50%;
	padding: 10px;
	width: 200px;
	box-shadow: 0 0 10px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.side_nav h3,
h4 {
	text-align: center;
}

/* Main Content */
.header {
	margin-left: 290px;
	height: 100%;
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
}

.home_main {
	margin-left: 290px;
	height: 100%;
	padding: 30px 10px;
	font-size: 25px;
	text-align: center;
}

.footer {
	margin-left: 290px;
	height: 100%;
	padding: 0px 10px;
	font-size: 20px;
	text-align: center;
}

body {
	background-color: #f1faee;
}

.header {
	background-color: #262d37;
	height: 250px;
	color: #a8dadc;
}

#title {
	color: #a8dadc;
}

.personal_details {
	margin: 100px 0px 100px 0px;
}

.about_me p {
	width: 400px;
	height: 350px;
	display: inline-block;
	text-align: left;
	margin-right: 50px;
	vertical-align: middle;
}

.about_me img {
	width: 450px;
	display: inline-block;
	border: 5px solid black;
	margin-left: 50px;
	vertical-align: middle;
}

.education_details {
	margin: 100px 0px 150px 0px;
}

.education_details p {
	width: 400px;
	height: 350px;
	display: inline-block;
	text-align: left;
	margin-left: 50px;
	vertical-align: middle;
}

.educaiton_details img {
	width: 450px;
	display: inline-block;
	border: 5px solid black;
	margin-right: 50px;
	vertical-align: middle;
}
